.indiv{
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.wid{
    width: 300px;
    padding: 25px;
    background-color: lightblue;
}
.box{
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
    background-color: lightblue;
}