.side {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
  }

.short{
    border: 1px solid black;
    margin: 25px 50px 75px 100px;
    background-color: lightblue;
  }

.auto{
  width: 300px;
  margin: auto;
  border: 1px solid rgb(43, 0, 255);
  background-color: lightblue;
}
div{
    margin-left: 100px; 
    border: 1px solid rgb(247, 0, 255);
}
.inher{
    margin-left: inherit;
}